/*-- General --*/

.titill {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-alignment: center;
}

.merking {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

button {
    -fx-base: #dddddd;
}

.list-cell:odd {
    -fx-background-color: lightgrey;
}

.site-container {
    -fx-background-color: white;
    -fx-padding: 20;
}


/*-- Chatbox --*/

.chat-scroll-pane {
    -fx-background: #f5f5f5;
    -fx-border-color: #ddd;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.skilabod-container {
    -fx-background-color: transparent;
}

.notanda-skilabod {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-background-radius: 15 15 0 15;
}

.tolvu-skilabod {
    -fx-background-color: #e9ecef;
    -fx-text-fill: black;
    -fx-background-radius: 15 15 15 0;
}

.notanda-skilabod, .tolvu-skilabod {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 1);
}

.retry-takki {
    -fx-background-color: #e0e0e0;
    -fx-padding: 2 5 2 5;
    -fx-font-size: 12px;
}

.textarea-noborder {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
